<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start" (click)="goHome()">Public Space</ion-title>
    <ion-buttons slot="start">
      <ion-button  (click)="goToPublicSpace()">Public</ion-button>
      <ion-button (click)="goToRestrictedSpace()">Restricted</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">public-space</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Welcome to the public space, everybody can see whats here</h1>
</ion-content>
